<div class="text-center">
  <img src="assets/icons8-happy-200.png" id="final-img" />

  <h1 class="text-center" id="final-text">Congratulations!</h1>
  <p>If you would like to learn more about how to deal with stress and anxiety, <br>check out
    <a href="https://www.learnpsychology.org/student-stress-anxiety-guide/">this link</a> from LearnPsychology</p>
  <p>Need to vent anonymously? <a href="https://www.wysa.io/for-individuals">Wysa</a> might be able to help.
    <br>If you need to speak to someone,
    <br>don't hesitate to reach out to any one of these <a href="https://stayprepared.sg/mymentalhealth/i-need-support-now/">helplines.</a></p>
  <button class="btn btn-success" [routerLink]="['']">Try again</button>
  <br>
  <br>
  <p>Credits:<br>
    Art by <a href="https://lemmasoft.renai.us/forums/viewtopic.php?f=52&t=53635&p=504274&hilit=puppetbomb+college#p504274">puppetbomb</a>
    <br>
    Icons from <a href="https://icons8.com">Icons8</a>
  </p>
</div>