.btn-grid {
    display: grid;
    gap: 10px;
    margin-top: 20px;
    background-color: E0B37C;
}

.btn{
    background-color: paleturquoise;
    border: 2px solid slategrey;
    border-radius: 5px;
    padding: 10px;
}

.btn:hover{
 border-color: lightgreen;
}